doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Accept-CH' content='DPR')
    title Cohort Studio
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:700')
    link(rel='stylesheet', href='/assets/css/main.css')

  body
    header
      #logo Cohort Studio
      nav
        a(href='#' onclick='return false;' data-tippy='Coming soon' data-tippy-placement='bottom') About
        a(href='mailto:hello@cohort.studio') Contact
        a(href='#' onclick='return false;' data-tippy='Coming soon' data-tippy-placement='bottom') Blog
        a(href='#' onclick='return false;' data-tippy='Coming soon' data-tippy-placement='bottom') Jobs

    main
      section#intro.full.gradient
        h1 We help startups <span class='typed'></span>
        a.button#btn-down(href='#product') Go down

      section#product.common.left
        .inner
          .text-container
            h2.gradient We love building products
            p We help you build the next big thing, from an idea to a real shipped product that people love. We are a team of product designers and engineers with <em>more than 10 years of experience</em> working in startups, which allows us to avoid all the typical mistakes.
            #projects
              p Some projects we started or helped growing:
              div
                img(src='/assets/img/projects/instaply.png')
                img(src='/assets/img/projects/woorank.png')
                img(src='/assets/img/projects/jack.png')
                img(src='/assets/img/projects/storify.png')
                img(src='/assets/img/projects/ludus.png')

      section#team.common.right
        .inner
          .text-container
            h2.gradient A great product needs a great team
            p We help you find the right people but also improve the skills of your current team. <em>Our goal is to make you fully autonomous</em> at some point.

      section#network.common.left
        .inner
          .text-container
            h2.gradient Our network is your network
            p Instantly access our international network of <em>experts, investors and accelerators</em>. Together they cover all kinds of startup needs.

      section#pricing.common.center
        .inner
          .text-container
            h2.gradient Accessible pricing
            p We know what it’s like to manage a startup budget. We share the risks by only charging 70% of our normal rates and <em>getting the remaining 30% in convertible notes or SAFE</em>.

      section#contact.full.gradient.center
        .text-container
          h2 Work with us
          p We respond very quickly with all the info needed to move foward.
          a.button#btn-contact(href='mailto:hello@cohort.studio') Contact us

    script(src='https://unpkg.com/tippy.js@3/dist/tippy.all.min.js')
    script(src='https://unpkg.com/zenscroll@4.0.2/zenscroll-min.js')
    script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.9')
    script.
      var defaultDuration = 777;
      var edgeOffset = 0;
      zenscroll.setup(defaultDuration, edgeOffset);

      var typed = new Typed('.typed', {
        strings: ['test new ideas', 'create unique brands', 'build beautiful products', 'grow amazing teams', 'establish massive empires'],
        typeSpeed: 100
      });
