@font-face {
  font-family: 'Gotham Bold';
  src: url('/assets/fonts/gotham-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  background: #f3f3f3;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 185px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

header nav {
  display: flex;
}

header nav a {
  margin-left: 40px;
  font-size: 24px;
  text-transform: lowercase;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

header nav a:hover {
  color: #0D0D0D;
  opacity: 0.5;
}

#logo {
  width: 153px;
  height: 25px;
  background: url('/assets/img/logo.svg');
  text-indent: -9999px;
  opacity: 0.5;
}

main {
  min-height: 100vh;
}

section.full {
  height: 100vh;
}

section.gradient {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

section.common .inner {
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  max-width: 1200px;
}

section.right .inner {
  justify-content: flex-end;
}

.text-container {
  max-width: 400px;
}

section.center .text-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.text-container h2 {
  font-size: 60px;
  line-height: 1.1em;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.text-container h2.gradient {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.text-container p {
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 20px;
  max-width: 350px;
}

section.center .text-container p {
  max-width: 600px;
}

.text-container p em {
  font-style: normal;
  border-bottom: 5px solid #25FFCB;
}

.button {
  display: block;
  width: 90px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
  text-indent: -9999px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#btn-down {
  position: absolute;
  left: 50%;
  bottom: 80px;
  margin-left: -45px;
  -webkit-animation: Bounce 2s infinite;
  -moz-animation: Bounce 2s infinite;
  animation: Bounce 2s infinite;
  background-image: url('/assets/img/btn-down.svg');
}

#btn-contact {
  margin: 0 auto;
  background-image: url('/assets/img/btn-contact.svg');
}

#intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro h1 {
  font-size: 100px;
  text-align: center;
  max-width: 1000px;
  text-transform: lowercase;
  color: #fff;
  line-height: 1.2em;
}

#product {
  background: url('/assets/img/product.png') calc(50% + 240px) -100px no-repeat;
}

#projects {
  margin-top: 40px;
  font-size: 18px;
  line-height: 2em;
  width: 800px;
}

#projects p {
  max-width: 100%;
}

#projects div {
  display: flex;
}

#projects div img {
  margin-right: 20px;
  height: 30px;
}

#team {
  background: url('/assets/img/team.png') calc(50% - 300px) -150px no-repeat;
}

#team .inner {
  min-height: 1200px;
}

#network {
  background: url('/assets/img/network.png') calc(50% - 100px) 0 no-repeat;
}

#network .inner {
  padding-top: 0;
  min-height: 1000px;
}

#pricing {
  background: url('/assets/img/pricing.png') calc(50% - 100px) 200px no-repeat;
}

#pricing .inner {
  padding-top: 100px;
  min-height: 1000px;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#contact p {
  width: 400px;
  margin: 0 auto 20px;
}